*
{
    margin: 0;
    padding: 0;
    font-family: 'Stint Ultra Condensed', cursive;
}

body
{   
    background: linear-gradient(rgba(0,0,0,0.12),#f4c4f3
    ),url(https://images.unsplash.com/photo-1579119114472-5e3a9322032b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80); 
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
    background-size: cover;
    background-position: center center ;
    margin: 0;
    flex-direction: column;
    object-fit:cover;
    width: 100%;
    color: #fff;
}
body h1 
{
    
    color: black;
    text-align: center;
    padding-top: 10%;

}
body p 
{
    
    font-size: 22px;
    text-align: center;
    margin: 10%;
    margin-top: 5%;
    color: black;
    padding: 60px 40px 40px;
    background: rgba(250, 212, 219, 0.226);
}

.home .fas
{
    font-size: 18px;
    color: black;
    right: 160px;
    top: 33.5px;
    position: fixed;
}
.home a
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    right: 40px;
    top: 30px;
    position: fixed;
    cursor: pointer;
}
.logo
{
    width: 120px;
    position: absolute;
    top: 1%;
    left: 2%;
}

@media screen and (max-width: 770px) 
{
    .logo
{
    width: 80px;
    position: absolute;
    top: 1%;
    left: 2%;
}
}